<div class="container welcome-container pt-0 mt-0">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8 welcome-text text-center p-3">
      <h2><u>Welcome to the Star Wars fleet!</u></h2>
      <p>
        Explore the galaxy far, far away on our Star Wars website, featuring the latest news, exclusive content, and in-depth articles about your favorite characters and stories.
        <br>
        May the Force be with you!
      </p>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-width: 100%;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block mx-auto" src="/img/1.jpeg" alt="1">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="/img/2.jpeg" alt="2">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="/img/3.jpeg" alt="3">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="/img/4.jpeg" alt="4">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="/img/5.jpeg" alt="5">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="/img/6.jpeg" alt="6">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>  
      <button class="btn btn-light mt-4" routerLink="/starships">Starship List</button> 
    </div>       
  </div> 
</div>