:host {
  display: block;
  background-color: black;
  color: white;
}

.welcome-container {
  text-align: center;
  animation: fadeIn 3s ease-in-out;
  background-image: url('../../../../public/img/fondoEstrellado.jpg');
  /* Agrega un fondo negro semitransparente */
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
  min-height: 100vh; /* Asegura que el contenedor tenga al menos el alto de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text {
  padding: 30px; /* Añade espacio para el texto */
  border-radius: 10px;
}

.welcome-text h3 {
  font-size: 1.5em; /* Ajusta el tamaño de la fuente del título */
  margin-bottom: 20px;
}

.welcome-text p {
  font-size: 1em;
  line-height: 1.5; /* Ajusta el espacio entre líneas */
}

.btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  border-color: white;
}

.btn:hover {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .welcome-container {
    min-height: auto; /* Quita la altura mínima en dispositivos más pequeños */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
  }
}
