<div class="container welcome-container">
  <div class="row d-flex justify-content-center">
    <div class=" col-8 welcome-text mt-4 text-center">
      <h3>Welcome to the Star Wars fleet!</h3>
      <p>It is a time of expansion and discovery in the galaxy.<br>
        A newly formed coalition of star systems, the Astral Federation, has embarked on a bold mission to explore the uncharted regions of space.<br>
        This federation, composed of diverse species and cultures, seeks to unite the galaxy under a banner of peace, knowledge, and technological advancement.<br>
        From their capital on the lush and vibrant planet of Aethra, the Federation's leaders have commissioned a fleet of advanced starships. These vessels, known as the Astral Fleet, are designed to withstand the rigors of deep space exploration and are equipped with the latest in propulsion and defensive technologies.<br>
        Leading the fleet is the flagship Stellar Vanguard, a marvel of engineering and the pride of the Federation. The Vanguard is not just a ship; it is a symbol of hope and progress. Its sleek, angular design, with shimmering solar sails and powerful ion engines, represents the pinnacle of the Federation's technological prowess.<br>
         
        </p>  
        <button class="btn btn-light mt-4" routerLink="/starships">Starship List</button> 
    </div>
  </div>  
</div>
<router-outlet></router-outlet>
    