:host {
  background-color: black;
  display: block;
  font-family: 'Orbitron', sans-serif;
}

img {
  width: 20px; 
  height: 20px;
}

.logo {
  height: 7rem;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
}

button {  
  color: grey;
  font-weight: 800;
  font-size: large;
}

button:hover {
  color: #fff!important;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
}