<div class="container-fluid pt-4 pb-3">
  <div class="row align-items-center">
    <div class="col-lg-4 col-12 d-flex justify-content-lg-start justify-content-center mb-lg-0 mb-3">
      <div class="ps-0 ps-lg-3">
        <img class="me-3" src="/icons/fbDef.svg"/>
        <img class="me-3" src="/icons/itDef.svg"/>
        <img class="me-3" src="/icons/twitterDef.svg"/>
        <img class="me-3" src="/icons/youtubeDef.svg"/>
      </div>
    </div>
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <div class="logo">
          <img src="../../../../img/logo.webp" alt="Logo" />
        </div>
      </div>

      <div class="col-lg-4 col-12 d-flex justify-content-lg-end justify-content-center">
        @if(!(authenticationService.isLoggedIn$ | async)){
          <ng-container>          
            <button class="nav-link text-secondary pe-3" routerLink="/login">LOGIN</button>
          </ng-container>
        } 
        @if(authenticationService.isLoggedIn$ | async){
          <ng-container>
            <button class="nav-link text-secondary pe-3" (click)="logOut()">LOGOUT</button>
          </ng-container>
        }  
      </div>
  </div>
</div>
<app-navbar />
<router-outlet></router-outlet>


