.card {
  transition: transform 0.5s ease;
  background-color: rgba(146, 146, 146, 0.5);
  color: white;
  border: 0;
  border-radius: 20px;
  overflow: hidden;
  max-width: 225px;
}

.card:hover {
  transform: scale(1.1);
}

