
<app-navbar></app-navbar>
<div class="container text-white myt-4 pb-4">
  <h2 class="mt-5 mb-3">STARSHIP</h2>
  <hr class="mb-4" />

  @if(starship$ | async; as starship){
  <div class="card cardCustom text-white rounded-4 border-0">
    <div class="row g-0">
      <div class="col-lg-5">
        <img
          [src]="imageUrl"
          class="imgCustom rounded-img"
          alt="Image of {{ starship.name }}"
          (error)="imageError()"
        />
      </div>

      <div class="col-lg-7">
        <div class="card-body">
          <h2 class="mb-4">{{ starship.name.toUpperCase() }}</h2>
          <p>
            The {{ starship.name }} is distinguished for its capability to carry
            up to {{ starship.passengers }} passengers and has a cargo capacity
            of {{ starship.cargo_capacity }} kg. It features a hyperdrive rating
            of {{ starship.hyperdrive_rating }} and it supports consumables for
            up to {{ starship.consumables }}.
          </p>

          <p>Model: {{ starship.model }}</p>
          <p>Const in credits: {{ starship.cost_in_credits }}</p>
          <p>Atmospheric Spedd: {{ starship.max_atmosphering_speed }}</p>
          <p>Manufacturer: {{ starship.manufacturer }}</p>
          <p>Length: {{ starship.length }}</p>
          <p>Crew: {{ starship.crew }}</p>
        </div>
      </div>
    </div>
  </div>
  }
</div>
