
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      @if(starShipsResuts$ | async; as resultObject){
        <div class="container py-4">
          <div class="row justify-content-center">
            @for(starship of resultObject.results; track $index){
              <div class="col-12 d-flex justify-content-center mb-3">
                <a [routerLink]="['/starships-details', extractId(resultObject.results[$index].url)]" class="card" style="width: 50rem;" > <!--    [routerLink]="['/starships', extractId(starShipsResuts$[$index].url)]-->
                    <div class="card-body">
                      <h5 class="card-title text-custom-color text-start">{{ starship.name.toUpperCase() }}</h5>
                      <h6 class="card-subtitle text-custom-color text-start">{{ starship.model }}</h6>
                    </div>                  
                </a>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
<router-outlet></router-outlet>

