
<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  @if(starshipResult$ | async; as resultObject){
  <div class="container mt-3 mb-3">
    <div class="row d-flex align-items-center">
      @for(starship of starshipList; track $index){
      <button [routerLink]="['/starships-details', extractId(starship.url)]"
        class="text-secondary text-start pt-2 pb-2 border border-0 border-rounded rounded-1 card my-2 col-10 mx-auto">
        <h4 class="textName">{{starshipList[$index].name.toUpperCase()}}</h4>
        <h5 class="textModel">{{ starshipList[$index].model }}</h5>
      </button>
      }
    </div>
  </div>
  }
</div>

